<div class="p-grid p-nogutter p-justify-center">
  <div class="p-grid dashboard-container">
    <div class="p-col-6 dashboard-card">
      <p-card header="Base" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow" routerLink="/base">
        <p-header>
            <img src="Card" src="assets/images/usercard.jpg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
      </p-card>
    </div>

    <div class="p-col-6 dashboard-card">
      <p-card header="Upload" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow" routerLink="/upload">
        <p-header>
          <img src="Card" src="assets/images/usercard.jpg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
      </p-card>
    </div>
  
    <div class="p-col-6 dashboard-card">
      <p-card header="Profile" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow" routerLink="/profile">
        <p-header>
          <img src="Card" src="assets/images/usercard.jpg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
      </p-card>
    </div>

    <div class="p-col-6 dashboard-card">
      <p-card header="Settings" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow" routerLink="/settings">
        <p-header>
          <img src="Card" src="assets/images/usercard.jpg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
      </p-card>
    </div>
  </div>
</div>